In [2]:
import pandas as pd
import sqlite3
from rubin_sim.data import get_baseline

In [3]:
# or replace with any local file you want to use
baseline_db = get_baseline()

In [4]:
conn = sqlite3.connect(baseline_db)

In [5]:
df = pd.read_sql('select * from observations;', conn)

In [6]:
# Make any changes you want to the dataframe
df

,observationId,fieldRA,fieldDec,observationStartMJD,flush_by_mjd,visitExposureTime,band,filter,rotSkyPos,rotSkyPos_desired,...,sunRA,sunDec,moonRA,moonDec,moonDistance,solarElong,moonPhase,cummTelAz,observation_reason,science_program
0,0,262.851107,-22.591159,60980.001582,60980.02490,15.0,r,r,339.047680,0.000000,...,216.085181,-14.322303,338.750625,-9.612304,73.386276,44.944133,65.730180,-100.052076,,
1,1,261.834513,-19.886311,60980.001822,60980.02490,15.0,r,r,340.658749,0.000000,...,216.085416,-14.322380,338.752343,-9.610831,74.534739,43.950215,65.731227,-97.660015,,
2,2,260.885516,-17.164857,60980.002063,60980.02490,15.0,r,r,342.024500,0.000000,...,216.085651,-14.322457,338.754063,-9.609358,75.685623,43.121766,65.732274,-95.329162,,
3,3,263.101622,-14.904447,60980.002302,60980.02490,15.0,r,r,342.883906,0.000000,...,216.085885,-14.322534,338.755772,-9.607893,73.798941,45.411597,65.733314,-92.018436,,
4,4,262.197819,-12.138795,60980.002542,60980.02490,15.0,r,r,344.082240,0.000000,...,216.086120,-14.322611,338.757493,-9.606416,74.980927,44.870114,65.734363,-89.741419,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015723,2015723,51.536172,-12.851173,64632.271368,64632.29426,29.2,r,r,122.606347,122.606347,...,215.792231,-14.224571,230.603649,-12.730938,154.401181,148.754287,8.043388,2.214286,,
2015724,2015724,52.370715,-9.768649,64632.271816,64632.29426,29.2,r,r,124.357953,124.357953,...,215.792669,-14.224715,230.611340,-12.732393,157.431210,150.913083,8.047183,8.259855,,
2015725,2015725,55.094497,-9.088026,64632.272265,64632.29426,29.2,r,r,130.639271,130.639271,...,215.793107,-14.224860,230.619040,-12.733852,157.729828,149.832233,8.050982,14.681965,,
2015726,2015726,54.314320,-12.171543,64632.272712,64632.29426,29.2,r,r,130.159006,130.159006,...,215.793544,-14.225005,230.626714,-12.735307,154.825918,147.850622,8.054767,9.054993,,
2015727,2015727,57.080518,-11.470472,64632.273163,64632.29426,29.2,r,r,136.801494,136.801494,...,215.793984,-14.225150,230.634434,-12.736772,154.961682,146.751389,8.058576,16.362245,,

In [7]:
conn.close()

In [8]:
# open up a connection to a new database
conn = sqlite3.connect('my_new_database.db')

In [9]:
df.to_sql('observations', conn, index=False, if_exists='replace')

2015728

In [10]:
conn.close()